.seriesText {
    height: 5em;
    overflow-x: scroll;
}

.seriesContainer {
    padding: 20px 0;
}

.space-bottom {
    padding-bottom: 20px;
}

.spinnerCenter {
    text-align: center;
}

.storyText {
    height: 10em;
    overflow-x: scroll;
}

.addSection {
    margin-top: 20px;
}

.cardModalTitle {
    font-size: 24px;
}

/* Added by Ghassan */

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

body {
  padding-top: 120px;
}
